<button> test </button>

<%= render(
  Primer::Alpha::Overlays::OverlayBase.new(
    backdrop: backdrop,
    motion: motion,
    placement: placement,
    open: open,
    width: width,
    height: height
  )
)%>


<button> test </button>

<input type="text">